<!-- src/views/detallePedido.ejs -->
<h1>Detalle del Pedido</h1>

<!-- Formulario para editar el pedido -->
<form id="editarPedidoForm" action="/editarPedido/<%= pedido._id %>" method="POST">
  <input type="hidden" name="_id" value="<%= pedido._id %>">

  <label for="fechaCreacion">Fecha Creación:</label>
  <input type="date" id="fechaCreacion" name="fechaCreacion" value="<%= pedido.fecha_creacion %>" readonly>

  <label for="fechaPedido">Fecha Pedido:</label>
  <input type="date" id="fechaPedido" name="fechaPedido" value="<%= pedido.fecha_pedido %>">

  <label for="totalPedido">Total Pedido:</label>
  <input type="number" id="totalPedido" name="totalPedido" value="<%= pedido.total_pedido %>" readonly>

  <label for="estadoPedido">Estado Pedido:</label>
  <select id="estadoPedido" name="estadoPedido">
    <option value="por hacer" <%=pedido.estado_pedido==='por hacer' ? 'selected' : '' %>>Por hacer</option>
    <option value="en proceso" <%=pedido.estado_pedido==='en proceso' ? 'selected' : '' %>>En proceso</option>
    <option value="completado" <%=pedido.estado_pedido==='completado' ? 'selected' : '' %>>Completado</option>
    <option value="cancelado" <%=pedido.estado_pedido==='cancelado' ? 'selected' : '' %>>Cancelado</option>
  </select>

  <label for="nombreUsuario">Nombre Usuario:</label>
  <input type="text" id="nombreUsuario" name="nombreUsuario" value="<%= pedido.nombre_usuario %>">
  <!-- <select id="nombreUsuario" name="nombreUsuario" required>
    <% usuarios.forEach(usuario=> { %>
      <option value="<%= usuario.nombre %>">
        <%= usuario.nombre %>
      </option>
      <% }); %>
  </select> -->
  <h2>Servicios</h2>
  <button type="button" id="agregarServicioBtn">Agregar Servicio</button>
  <ul id="serviciosLista">
    <% pedido.servicios.forEach((servicio, index)=> { %>
      <li>
        <input type="hidden" name="servicios[<%= index %>][indice]" value="<%= index %>">
        <strong>Tipo de Servicio:</strong>
        <select id="tipoServicio<%= index %>" name="servicios[<%= index %>][tipoServicio]">
          <option value="tipo1" <%=servicio.tipoServicio==='tipo1' ? 'selected' : '' %>>Tipo 1</option>
          <option value="tipo2" <%=servicio.tipoServicio==='tipo2' ? 'selected' : '' %>>Tipo 2</option>
          <option value="tipo3" <%=servicio.tipoServicio==='tipo3' ? 'selected' : '' %>>Tipo 3</option>
        </select><br>
        <strong>Estado Tipo de Servicio:</strong>
        <select id="estadoTipoServicio<%= index %>" name="servicios[<%= index %>][estadoTipoServicio]">
          <option value="activo" <%=servicio.estadoTipoServicio==='activo' ? 'selected' : '' %>>Activo</option>
          <option value="inactivo" <%=servicio.estadoTipoServicio==='inactivo' ? 'selected' : '' %>>Inactivo</option>
        </select><br>
        <strong>Estado del Servicio:</strong>
        <!-- <input type="text" name="estadoServicio<%= index %>" value="<%= servicio.estadoServicio %>"><br> -->
        <select id="estadoServicio<%= index %>" name="servicios[<%= index %>][estadoServicio]">
          <option value="activo" <%=servicio.estadoServicio==='activo' ? 'selected' : '' %>>Activo</option>
          <option value="inactivo" <%=servicio.estadoServicio==='inactivo' ? 'selected' : '' %>>Inactivo</option>
        </select><br>
        <strong>Nombre del Servicio:</strong>
        <input type="text" name="servicios[<%= index %>][nombreServicio]" value="<%= servicio.nombreServicio %>"><br>
        <strong>Cantidad:</strong>
        <input type="number" name="servicios[<%= index %>][cantidadServicio]" value="<%= servicio.cantidadServicio %>"
          oninput="calcularSubtotal(<%= index %>)"><br>

        <strong>Precio:</strong>
        <input type="number" name="servicios[<%= index %>][precioServicio]" value="<%= servicio.precioServicio %>"
          oninput="calcularSubtotal(<%= index %>)"><br>
        <strong>Subtotal:</strong>
        <input type="number" id="subtotalServicio<%= index %>" name="subtotalServicio<%= index %>"
          value="<%= servicio.subtotal %>" readonly><br>
        <input type="hidden" name="servicios[][indice]" value="<%= index %>">
        <input type="hidden" id="indiceActual" value="<%= pedido.servicios.length %>">
      </li>
      <% }); %>
  </ul>
  <script>
    function calcularSubtotal(index) {
      const cantidadInput = document.querySelector(`[name="servicios[${index}][cantidadServicio]"]`);
      const precioInput = document.querySelector(`[name="servicios[${index}][precioServicio]"]`);
      const subtotalInput = document.querySelector(`#subtotalServicio${index}`);

      const cantidad = parseInt(cantidadInput.value, 10);
      const precio = parseFloat(precioInput.value);
      const subtotal = cantidad * precio;

      // Actualizar el valor del subtotal
      subtotalInput.value = subtotal.toFixed(2);
      recalcularTotalPedido();
    }

  </script>

  <h2>Productos</h2>
  <button type="button" id="agregarProductoBtn">Agregar Producto</button>
  <ul id="productosLista">
    <% pedido.productos.forEach((producto, index)=> { %>
      <li>
        <input type="hidden" name="productos[<%= index %>][indice]" value="<%= index %>">
        <strong>Tipo de Producto:</strong>
        <select id="tipoProducto<%= index %>" name="productos[<%= index %>][tipoProducto]">
          <option value="tipo1" <%=producto.tipoProducto==='tipo1' ? 'selected' : '' %>>Tipo 1</option>
          <option value="tipo2" <%=producto.tipoProducto==='tipo2' ? 'selected' : '' %>>Tipo 2</option>
          <option value="tipo3" <%=producto.tipoProducto==='tipo3' ? 'selected' : '' %>>Tipo 3</option>
        </select><br>
        <strong>Estado Tipo de Producto:</strong>
        <!-- <input type="text" name="estadoTipoProducto<%= index %>" value="<%= producto.tipoProducto.estadoTipoProducto %>" readonly><br> -->
        <select id="estadoTipoProducto<%= index %>" name="estadoTipoProducto<%= index %>">
          <option value="activo" <%=producto.tipoProducto.estadoTipoProducto==='activo' ? 'selected' : '' %>>Activo
          </option>
          <option value="inactivo" <%=producto.tipoProducto.estadoTipoProducto==='inactivo' ? 'selected' : '' %>
            >Inactivo</option>
        </select><br>
        <strong>Estado del Producto:</strong>
        <!-- <input type="text" name="estadoProducto<%= index %>" value="<%= producto.estadoProducto %>"><br> -->
        <select id="estadoProducto<%= index %>" name="productos[<%= index %>][estadoProducto]">
          <option value="activo" <%=producto.estadoProducto==='activo' ? 'selected' : '' %>>Activo</option>
          <option value="inactivo" <%=producto.estadoProducto==='inactivo' ? 'selected' : '' %>>Inactivo</option>
        </select><br>
        <strong>Nombre del Producto:</strong>
        <input type="text" name="productos[<%= index %>][nombreProducto]" value="<%= producto.nombreProducto %>"><br>
        <strong>Cantidad:</strong>
        <input type="number" name="productos[<%= index %>][cantidadProducto]" value="<%= producto.cantidadProducto %>"
          oninput="calcularSubtotalProducto(<%= index %>)"><br>

        <strong>Precio:</strong>
        <input type="number" name="productos[<%= index %>][precioProducto]" value="<%= producto.precioProducto %>"
          oninput="calcularSubtotalProducto(<%= index %>)"><br>
        <strong>Subtotal:</strong>
        <input type="number" id="subtotalProducto<%= index %>" name="subtotalProducto<%= index %>"
          value="<%= producto.subtotal %>" readonly><br>
        <input type="hidden" name="productos[][indice]" value="<%= index %>">
      </li>
      <% }); %>
  </ul>
  <script>
    // Función para calcular el subtotal de productos
    function calcularSubtotalProducto(index) {
      const cantidadInput = document.querySelector(`[name="productos[${index}][cantidadProducto]"]`);
      const precioInput = document.querySelector(`[name="productos[${index}][precioProducto]"]`);
      const subtotalInput = document.querySelector(`#subtotalProducto${index}`);

      const cantidad = parseInt(cantidadInput.value, 10);
      const precio = parseFloat(precioInput.value);
      const subtotal = cantidad * precio;

      // Actualizar el valor del subtotal
      subtotalInput.value = subtotal.toFixed(2);
      recalcularTotalPedido();
    }
  </script>

  <button type="submit">Guardar Cambios</button>
</form>

<a href="/pedidos">Volver a la lista de pedidos</a>

<script>
  function recalcularTotalPedido() {
    let totalPedido = 0;

    // Recorrer subtotales de servicios
    document.querySelectorAll('[id^="subtotalServicio"]').forEach((subtotalInput) => {
      totalPedido += parseFloat(subtotalInput.value);
    });

    // Recorrer subtotales de productos
    document.querySelectorAll('[id^="subtotalProducto"]').forEach((subtotalInput) => {
      totalPedido += parseFloat(subtotalInput.value);
    });

    // Actualizar el valor del total del pedido
    document.getElementById('totalPedido').value = totalPedido.toFixed(2);
  }



  const fechaPedidoInput = document.getElementById('fechaPedido');
  const editarPedidoForm = document.getElementById('editarPedidoForm');
  editarPedidoForm.addEventListener('submit', function (event) {
    const fechaCreacion = new Date(); // Obtener la fecha actual
    const fechaPedido = new Date(fechaPedidoInput.value);

    // Validar que la fecha de pedido sea al menos 5 días después de la fecha de creación
    if (fechaPedido - fechaCreacion < 5 * 24 * 60 * 60 * 1000) {
      alert('La fecha de pedido debe ser al menos 5 días después de la fecha de creación.');
      event.preventDefault(); // Evitar el envío del formulario si no pasa la validación
    }
  });
</script>
<script>
    let indiceActual = parseInt(document.getElementById('indiceActual').value, 10) || 0;

    document.getElementById('agregarServicioBtn').addEventListener('click', function () {
      const serviciosLista = document.getElementById('serviciosLista');

      // Crear un nuevo elemento li (item de lista) para el nuevo servicio
      const nuevoServicioLi = document.createElement('li');

      // HTML para un nuevo servicio
      nuevoServicioLi.innerHTML = `
      <input type="hidden" name="servicios[${indiceActual}][indice]" value="${indiceActual}">
      <strong>Tipo de Servicio:</strong>
      <select id="tipoServicio${indiceActual}" name="servicios[${indiceActual}][tipoServicio]">
        <option value="tipo1">Tipo 1</option>
        <option value="tipo2">Tipo 2</option>
        <option value="tipo3">Tipo 3</option>
      </select><br>
      <strong>Estado Tipo de Servicio:</strong>
      <select id="estadoTipoServicio${indiceActual}" name="servicios[${indiceActual}][estadoTipoServicio]">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select><br>
      <strong>Estado del Servicio:</strong>
      <select id="estadoServicio${indiceActual}" name="servicios[${indiceActual}][estadoServicio]">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select><br>
      <strong>Nombre del Servicio:</strong>
      <input type="text" name="servicios[${indiceActual}][nombreServicio]"><br>
      <strong>Cantidad:</strong>
      <input type="number" name="servicios[${indiceActual}][cantidadServicio]" oninput="calcularSubtotal(${indiceActual})"><br>
      <strong>Precio:</strong>
      <input type="number" name="servicios[${indiceActual}][precioServicio]" oninput="calcularSubtotal(${indiceActual})"><br>
      <strong>Subtotal:</strong>
      <input type="number" id="subtotalServicio${indiceActual}" name="subtotalServicio[${indiceActual}]" readonly><br>
      <input type="hidden" name="servicios[${indiceActual}][indice]" value="${indiceActual}">
    `;

      // Incrementar el índice actual y actualizar el campo oculto
      indiceActual++;
      document.getElementById('indiceActual').value = indiceActual;

      // Agregar el nuevo servicio a la lista de servicios
      serviciosLista.appendChild(nuevoServicioLi);
    });

  document.getElementById('agregarProductoBtn').addEventListener('click', function () {
    const productosLista = document.getElementById('productosLista');
    const nuevoIndice = productosLista.children.length; // Obtener el nuevo índice
    const nuevoProductoHTML = `
    <!-- HTML para un nuevo producto -->
    <li>
      <!-- Campos del formulario para el nuevo producto -->
      <!-- Puedes copiar y pegar los campos existentes y ajustar los índices -->
    </li>
  `;
    productosLista.innerHTML += nuevoProductoHTML;
  });
</script>