<!-- src/views/detallePedido.ejs -->
<h1>Detalle del Pedido</h1>

<!-- Formulario para editar el pedido -->
<form id="editarPedidoForm" action="/editarPedido/<%= pedido._id %>" method="POST">

  <label for="fechaCreacion">Fecha Creaci贸n:</label>
  <input type="date" id="fechaCreacion" name="fechaCreacion" value="<%= pedido.fecha_creacion %>" readonly>

  <label for="fechaPedido">Fecha Pedido:</label>
  <input type="date" id="fechaPedido" name="fechaPedido" value="<%= pedido.fecha_pedido %>">

  <label for="totalPedido">Total Pedido:</label>
  <input type="number" id="totalPedido" name="totalPedido" value="<%= pedido.total_pedido %>">

  <label for="estadoPedido">Estado Pedido:</label>
  <select id="estadoPedido" name="estadoPedido">
    <option value="por hacer" <%=pedido.estado_pedido==='por hacer' ? 'selected' : '' %>>Por hacer</option>
    <option value="en proceso" <%=pedido.estado_pedido==='en proceso' ? 'selected' : '' %>>En proceso</option>
    <option value="completado" <%=pedido.estado_pedido==='completado' ? 'selected' : '' %>>Completado</option>
    <option value="cancelado" <%=pedido.estado_pedido==='cancelado' ? 'selected' : '' %>>Cancelado</option>
  </select>

  <label for="nombreUsuario">Nombre Usuario:</label>
  <input type="text" id="nombreUsuario" name="nombreUsuario" value="<%= pedido.nombre_usuario %>" readonly>

  <h2>Servicios</h2>
  <!-- Lista de servicios con campos editables -->
  <ul id="serviciosLista">
    <% pedido.servicios.forEach((servicio, index)=> { %>
      <li>
        <strong>Tipo de Servicio:</strong>
        <select id="tipoServicio<%= index %>" name="tipoServicio<%= index %>">
          <option value="tipo1" <%=servicio.tipoServicio.tipoServicio==='tipo1' ? 'selected' : '' %>>Tipo 1</option>
          <option value="tipo2" <%=servicio.tipoServicio.tipoServicio==='tipo2' ? 'selected' : '' %>>Tipo 2</option>
          <option value="tipo3" <%=servicio.tipoServicio.tipoServicio==='tipo3' ? 'selected' : '' %>>Tipo 3</option>
        </select><br>
        <strong>Estado Tipo de Servicio:</strong>
        <select id="estadoTipoServicio<%= index %>" name="estadoTipoServicio<%= index %>">
          <option value="activo" <%=servicio.tipoServicio.estadoTipoServicio==='activo' ? 'selected' : '' %>>Activo
          </option>
          <option value="inactivo" <%=servicio.tipoServicio.estadoTipoServicio==='inactivo' ? 'selected' : '' %>
            >Inactivo</option>
        </select><br>
        <strong>Estado del Servicio:</strong>
        <!-- <input type="text" name="estadoServicio<%= index %>" value="<%= servicio.estadoServicio %>"><br> -->
        <select id="estadoServicio<%= index %>" name="estadoServicio<%= index %>">
          <option value="activo" <%=servicio.estadoServicio==='activo' ? 'selected' : '' %>>Activo</option>
          <option value="inactivo" <%=servicio.estadoServicio==='inactivo' ? 'selected' : '' %>>Inactivo</option>
        </select><br>
        <strong>Nombre del Servicio:</strong>
        <input type="text" name="nombreServicio<%= index %>" value="<%= servicio.nombreServicio %>"><br>
        <strong>Cantidad:</strong>
        <input type="number" name="cantidadServicio<%= index %>" value="<%= servicio.cantidadServicio %>"
          onchange="calcularSubtotal(<%= index %>)"><br>
        <strong>Precio:</strong>
        <input type="number" name="precioServicio<%= index %>" value="<%= servicio.precioServicio %>"
          onchange="calcularSubtotal(<%= index %>)"><br>
        <strong>Subtotal:</strong>
        <input type="number" id="subtotalServicio<%= index %>" name="subtotalServicio<%= index %>"
          value="<%= servicio.subtotal %>" readonly><br>
      </li>
      <% }); %>
  </ul>
  <script>
    // Funci贸n para calcular el subtotal
    function calcularSubtotal(index) {
      const cantidadInput = document.querySelector(`[name="cantidadServicio${index}"]`);
      const precioInput = document.querySelector(`[name="precioServicio${index}"]`);
      const subtotalInput = document.querySelector(`#subtotalServicio${index}`);

      const cantidad = parseInt(cantidadInput.value, 10);
      const precio = parseFloat(precioInput.value);
      const subtotal = cantidad * precio;

      // Actualizar el valor del subtotal
      subtotalInput.value = subtotal.toFixed(2);
    }
  </script>

  <h2>Productos</h2>
  <!-- Lista de productos con campos editables -->
  <ul id="productosLista">
    <% pedido.productos.forEach((producto, index)=> { %>
      <li>
        <strong>Tipo de Producto:</strong>
        <!-- <input type="text" name="tipoProducto<%= index %>" value="<%= producto.tipoProducto.tipoProducto %>" readonly><br> -->
        <select id="tipoProducto<%= index %>" name="tipoProducto<%= index %>">
          <option value="tipo1" <%=producto.tipoProducto.tipoProducto==='tipo1' ? 'selected' : '' %>>Tipo 1</option>
          <option value="tipo2" <%=producto.tipoProducto.tipoProducto==='tipo2' ? 'selected' : '' %>>Tipo 2</option>
          <option value="tipo3" <%=producto.tipoProducto.tipoProducto==='tipo3' ? 'selected' : '' %>>Tipo 3</option>
        </select><br>
        <strong>Estado Tipo de Producto:</strong>
        <!-- <input type="text" name="estadoTipoProducto<%= index %>" value="<%= producto.tipoProducto.estadoTipoProducto %>" readonly><br> -->
        <select id="estadoTipoProducto<%= index %>" name="estadoTipoProducto<%= index %>">
          <option value="activo" <%=producto.tipoProducto.estadoTipoProducto==='activo' ? 'selected' : '' %>>Activo
          </option>
          <option value="inactivo" <%=producto.tipoProducto.estadoTipoProducto==='inactivo' ? 'selected' : '' %>
            >Inactivo</option>
        </select><br>
        <strong>Estado del Producto:</strong>
        <!-- <input type="text" name="estadoProducto<%= index %>" value="<%= producto.estadoProducto %>"><br> -->
        <select id="estadoProducto<%= index %>" name="estadoProducto<%= index %>">
          <option value="activo" <%=producto.estadoProducto==='activo' ? 'selected' : '' %>>Activo</option>
          <option value="inactivo" <%=producto.estadoProducto==='inactivo' ? 'selected' : '' %>>Inactivo</option>
        </select><br>
        <strong>Nombre del Producto:</strong>
        <input type="text" name="nombreProducto<%= index %>" value="<%= producto.nombreProducto %>"><br>
        <strong>Cantidad:</strong>
        <input type="number" name="cantidadProducto<%= index %>" value="<%= producto.cantidadProducto %>"
          onchange="calcularSubtotalProducto(<%= index %>)"><br>
        <strong>Precio:</strong>
        <input type="number" name="precioProducto<%= index %>" value="<%= producto.precioProducto %>"
          onchange="calcularSubtotalProducto(<%= index %>)"><br>
        <strong>Subtotal:</strong>
        <input type="number" id="subtotalProducto<%= index %>" name="subtotalProducto<%= index %>"
          value="<%= producto.subtotal %>" readonly><br>
      </li>
      <% }); %>
  </ul>
  <script>
    // Funci贸n para calcular el subtotal de productos
    function calcularSubtotalProducto(index) {
      const cantidadInput = document.querySelector(`[name="cantidadProducto${index}"]`);
      const precioInput = document.querySelector(`[name="precioProducto${index}"]`);
      const subtotalInput = document.querySelector(`#subtotalProducto${index}`);

      const cantidad = parseInt(cantidadInput.value, 10);
      const precio = parseFloat(precioInput.value);
      const subtotal = cantidad * precio;

      // Actualizar el valor del subtotal
      subtotalInput.value = subtotal.toFixed(2);
    }
  </script>

  <button type="submit">Guardar Cambios</button>
</form>

<a href="/pedidos">Volver a la lista de pedidos</a>

<script>
  // JavaScript para manejar la adici贸n de nuevos servicios y productos
  const serviciosContainer = document.getElementById('serviciosLista');
  const productosContainer = document.getElementById('productosLista');

  function agregarCampoServicio() {
    const nuevoServicio = document.createElement('li');
    nuevoServicio.innerHTML = `
      <strong>Tipo de Servicio:</strong>
      <input type="text" name="nuevoTipoServicio" readonly><br>
      <strong>Estado Tipo de Servicio:</strong>
      <input type="text" name="nuevoEstadoTipoServicio" readonly><br>
      <strong>Estado del Servicio:</strong>
      <input type="text" name="nuevoEstadoServicio"><br>
      <strong>Nombre del Servicio:</strong>
      <input type="text" name="nuevoNombreServicio"><br>
      <strong>Cantidad:</strong>
      <input type="number" name="nuevoCantidadServicio"><br>
      <strong>Precio:</strong>
      <input type="number" name="nuevoPrecioServicio"><br>
      <strong>Subtotal:</strong>
      <input type="number" name="nuevoSubtotalServicio"><br>
    `;
    serviciosContainer.appendChild(nuevoServicio);
  }

  function agregarCampoProducto() {
    const nuevoProducto = document.createElement('li');
    nuevoProducto.innerHTML = `
      <strong>Tipo de Producto:</strong>
      <input type="text" name="nuevoTipoProducto" readonly><br>
      <strong>Estado Tipo de Producto:</strong>
      <input type="text" name="nuevoEstadoTipoProducto" readonly><br>
      <strong>Estado del Producto:</strong>
      <input type="text" name="nuevoEstadoProducto"><br>
      <strong>Nombre del Producto:</strong>
      <input type="text" name="nuevoNombreProducto"><br>
      <strong>Cantidad:</strong>
      <input type="number" name="nuevoCantidadProducto"><br>
      <strong>Precio:</strong>
      <input type="number" name="nuevoPrecioProducto"><br>
      <strong>Subtotal:</strong>
      <input type="number" name="nuevoSubtotalProducto"><br>
    `;
    productosContainer.appendChild(nuevoProducto);
  }

  // Event listeners para agregar nuevos campos
  document.getElementById('agregarNuevoServicioBtn').addEventListener('click', agregarCampoServicio);
  document.getElementById('agregarNuevoProductoBtn').addEventListener('click', agregarCampoProducto);
</script>